<!DOCTYPE html>
<!-- Fragment: loaded by js/layout.js into #app-header (DOCTYPE removed before inject). -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html" id="nav-brand">綠行選品</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-nav="home" href="index.html" id="nav-home">首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-nav="products" href="products.html" id="nav-products">商品介紹</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-nav="redeem" href="redeem.html" id="nav-redeem">兌換商品</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-nav="cart" href="cart.html" id="nav-cart">購物車</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-nav="sell" href="sell.html" id="nav-sell">上架</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-nav="profile" href="profile.html" id="nav-profile">個人資料</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-nav="login" href="login.html" id="nav-login">登入／註冊</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" data-i18n="nav.language">語言</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdown">
                        <li><a class="dropdown-item" href="#" data-set-lang="zh">中文</a></li>
                        <li><a class="dropdown-item" href="#" data-set-lang="en">English</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
